<div *ngIf="notSubmitted; else elseBlock">
  <div class="login-grid">
    <div class="container-fluid">
      <h1>Login</h1>
      <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
          <label>Username</label>
          <input type="text" required #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
            class="form-control" name="username" [(ngModel)]="userModel.username">
          <small class="text-danger" [class.d-none]="username.valid || username.untouched">Name is required</small>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" #password="ngModel" pattern="^\d{10}$"
            [class.is-invalid]="password.invalid && password.touched" class="form-control" required name="password"
            [(ngModel)]="userModel.password">
          <div *ngIf="password.errors && password.invalid && password.touched">
            <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
            <small class="text-danger" *ngIf="password.errors.pattern">Password must be 10 digits</small>
          </div>
        </div>

        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="options-grid">
    <div class="container">
      Select API Endpoint<br>
      <select #endpoint (change)="onChangeEndpoint($event.target)">
        <option value="heroku">https://altoponix-database.herokuapp.com/api/v1</option>
        <option value="localhost">http://127.0.0.1:5000/api/v1</option>
      </select>
    </div>
    <div class="container">
      Select User<br>
      <select #user (change)="onChangeUser($event.target)">
        <option *ngFor="let user of users">{{user}}</option>
      </select>
    </div>
    <div class="container">
      Select Monitor<br>
      <select #monitor (change)="onChangeMonitor($event.target)">
        <option *ngFor="let monitor of monitors">{{monitor}}</option>
      </select>
    </div>
  </div>
  <div class="update"><i>{{lastUpdatedDateString}}</i></div>
  <div class="data-grid">
    <div *ngFor="let stat of data | keyvalue" class="stat">
      <div class="stat-container">
        <div class="stat-name">{{stat.key}}</div>
        <div class="stat-value" *ngIf="stat.value['value']==null">-</div>
        <div class="stat-value" *ngIf="stat.value['value']!=null">{{stat.value["value"]}}</div>
        <app-graph [data]="stat.value"></app-graph>
      </div>
    </div>
  </div>
  <div class="prop-grid">
    <div *ngFor="let prop of string_props | keyvalue" class="prop">
      <div class="stat-container">
        <div class="stat-name">{{prop.key}}: {{prop.value}}</div>
      </div>
    </div>
  </div>
  <div class="prop-grid">
    <div class="prop">
      <div class="stat-container">
        <div class="stat-name">Stream:</div>
        <video #stream src="" id="video" style="border: 1px black solid" autoplay controls></video>
      </div>
    </div>
  </div>
</ng-template>