.jumbotron {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gradient{
  background:
          linear-gradient(127deg, rgba(102, 173, 112, 0.8), rgba(74, 148, 72, 0) 12.35%),
          linear-gradient(336deg, rgba(56, 189, 138, 0.8), rgba(134, 179, 52, 0) 25.25%),
          linear-gradient(83deg, rgba(74, 204, 187, 0.8), rgba(57, 214, 117, 0) 50.63%),
          linear-gradient(175deg, rgba(27, 177, 119, 0.8), rgba(21, 177, 117, 0) 75.73%),
          linear-gradient(280deg, rgba(54, 211, 151, 0.8), rgba(34, 212, 174, 0) 90.73%);
  background-size: 400% 400%;
  display: flex;
  color:black;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  overflow: hidden;
  background-color: white;
  flex-direction: row;
  width: 100vw;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}
@keyframes Gradient { 
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}

a {
  color: #32a891;
  text-decoration: none !important;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: color;
}

a:hover {
  color:#47c7ad;
}

.section {
  background-color: white;
  padding: 5%;
}

.section .content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.section >>> .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 2em;
}

.section >>> .subtitle {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5em;
}

.section >>> img {
  object-fit: contain;
  width: 350px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.header img {
  max-width: 50%;
}

.header .content {
  flex: 1 0 auto;
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-header {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle-header {
  font-size: 3vw;
  font-weight: 300;
}

.paragraph {
  margin-bottom: 1em;
  line-height: 1.5em;
}

button {
  border-radius: 10vw;
  border: 1px #ddd solid;
  background-color: rgb(27, 177, 119);
  color:white;
  width: 240px;
  height: 70px;
  font-size: 32px;
  font-weight: 300;
  transition: ease-out;
  transition-duration: 0.3s;
  transition-property: background-color;
  margin-top: 10px;
}

button:hover{
  background-color: rgb(65, 216, 158);
} 

.green {
  background-color: rgb(243, 248, 238);
}

.centered  {
  text-align: center;
}

.vert {
  flex-direction: column !important;
  align-items: center;
}

@media (max-width: 2000px) {
  .section >>> .title {
    font-size: 44px;
  }
  .section >>> .subtitle {
    font-size: 22px;
  }
  .section >>> img {
    width: 300px;
  }
  button {
    width: 208px;
    height: 60px;
    font-size: 29px;
  }
}

@media (max-width: 1600px) {
  .section >>> .title {
    font-size: 34px;
  }
  .section >>> .subtitle {
    font-size: 15px;
  }
  .section >>> img {
    width: 220px;
  }
  button {
    width: 120px;
    height: 35px;
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .jumbotron{
    display: flex;
    flex-direction: column;
  }
  .vert {
    flex-direction: row !important;
    align-items: center;
  }
  .section >>> .subtitle {
    font-size: 22px;
  }
  .section >>> img {
    margin: 0 10px;
  }
  .section >>> img {
    width: 260px;
  }
  button {
    width: 154px;
    height: 45px;
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .section >>> .subtitle {
    font-size: 18px;
  }
  .section >>> img {
    width: 200px;
  }
  button {
    width: 120px;
    height: 35px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .section >>> .subtitle {
    font-size: 14px;
  }
  .section >>> img {
    margin: 20px 0px;
  }
  .section >>> img {
    width: 150px;
  }
  button {
    width: 86px;
    height: 25px;
    font-size: 12px;
  }
}