<div class="header">
  <div class="gradient">
    <div class="content">
      <div class="title-header">
        Building S2
      </div>
      <div class="subtitle-header">
        Novel Vertical Hydroponics with Robotics and Computer Vision   
      </div>
    </div>
    <img src="../../../assets/s2_detailed.png">
  </div> 
</div>
<div class="jumbotron"> 
  <div class="section">
    <div class="title centered">
      Our Hardware
    </div>
    <div class="content vert">
      <div class="subtitle">
        <div class="paragraph">
          S2 is a 300 lb multi-level lift system used to mechanize our novel 
          (patent-pending) lifting and lowering platform hydroponic 
          system. Our advanced sensor suite and control solution 
          allows us to modulate lighting parameters, composition of 
          nutrient solution (pH, EC, DO), ambient state (temperature,
          humidity), and more.
        </div>
      </div>
      <img src="../../../assets/s2.png">
    </div>
  </div>
  <div class="section green">
    <div class="title centered">
      Our Software
    </div>
    <div class="content vert">
      <div class="subtitle">
        <div class="paragraph">
          Aside from the automation software for S2 that includes 
          subcomponents like control theory and microcontrollers,
          data monitoring has been another of our key software focuses. 
          Via our large onboard sensor suite and the utilization of 
          various computer vision and machine learning algorithms 
          for tasks like stereo 3D mapping, foliage segmentation, 
          disease detection, and foliage prediction, we can 
          isolate what parameters best optimize for growth speed. 
          We built a web app that allows us to continuously livestream 
          the state of the system.
        </div>
        <div class="paragraph">
          Our robot code is written in CPP, soon to be switched to the ROS2 framework. 
          Check out some of our software here: 
          <a href="https://github.com/altoponixclub"> github.com/altoponixclub </a>
        </div>
      </div>
      <img src="../../../assets/s2_software.png">
      <div class="caption">
        Visualization of 3d pointcloud of plant growing platform obtained with stereo vision
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title centered">
      Our Future
    </div>
    <div class="content">
      <div class="subtitle">
        <div class="paragraph">
          Our challenge is to use this system to grow heads of lettuce consistently in under 20 days, a significant reduction from comparing systems in the field. We are building this expressly for research and educational purposes, hoping to further the field with some of the data we collect - the intent is not to sell. We are a fully student led team trying to bring this project to fruition, with the aim of learning as much as we can about software, mechanical, and electrical engineering along the way. However, we currently lack a funding source - individual contributions and corporate sponsorships are much appreciated. 
        </div>
        <button (click)="route('/sponsor')">Support Us</button>
      </div>
    </div>
  </div>
</div>
