<div class="jumbotron"> 
  <div class="header">
    <div class="gradient content">
      <div class="title-header">
        Building S2
      </div>
      <div class="subtitle-header">
        The most automated hydroponic apparatus on the planet
      </div>
    </div> 
    <img src="../../../assets/s2mo.png">
  </div>
  <div class="section" style="height: 450px">
    <img src="../../../assets/s2.png" style="height: 32em">
    <div class="content">
      <div class="title" align="center">
        Our Hardware
      </div>
      <div class="subtitle">
        <div class="paragraph">
          <!-- TODO: center this vertically to image -->
          200 lb multi-level lift system used to mechanize our novel (patent-pending) lifting and lowering platform hydroponic methodology. Our advanced sensor suite and control solution allows us to modulate lighting parameters, composition of nutrient solution (pH, EC, DO), ambient state (temperature, humidity), and more.

        </div>
        <div class="title" align="center">
          Our Software 
        </div>

        <div class="subtitle">
          <div class="paragraph">
            Can we move this under the s2 image lucas?<br>
            Aside from the automation software for s2 which includes subcomponents like control theory and microcontrollers, data monitoring has been another of our key software focuses. Via our large onboard sensor suite and the utilization of various computer vision and machine learning algorithms for tasks like stereo 3d mapping, foliage segmentation, disease detection, and foliage prediction, we are able to isolate what parameters best optimize for growth speed. We built a webapp which allows us to continuously livestream the state of the system. <br> Our robot code is written in CPP with the ROS2 framework. Check out some of our software here: <a href="https://github.com/altoponixclub"> github.com/altoponixclub </a>
          </div>
        </div>

        <div class="title" align="center">
          Our Future 
        </div>

        <div class="subtitle">
          <div class="paragraph">
              Our challenge is to use this system to grow lettuce heads consistently in under 20 days, a significant reduction from comparing systems in the field. We are building this expressly for research purposes, hoping to further the field with some of the data we collect - the intent is not to sell. We are a fully student led team trying to bring this project to fruition, with the aim of learning as much as we can about software, mechanical, and electrical engineering along the way. However, we currently lack a funding source - individual contributions and corporate sponsorships are much appreciated. 
          </div>
        </div>
        <button (click)="route('/sponsor')">Support Us</button>
      </div>
    </div>

      </div>
      <!-- <img src="../../../assets/s2.png" style="height: 32em"> -->

      <!-- <div class="section" style="height: 450px"> -->
      <!-- <img src="../../../assets/s2.png" style="height: 32em"> -->
      <!-- </div> -->
      <!-- Our robotic system comprises of a lifting and lowering platform -->
      <!-- elevator which periodically douses the root system of a set of plants -->
      <!-- in a aqueous nutrient solution while tracking and adjusting the chemical -->
      <!-- composition of the liquid. We gather meaningful data regarding the state -->
      <!-- of the plants via a large onboard sensor suite and the utilization of -->
      <!-- various computer vision and machine learning algorithms for tasks like -->
      <!-- 3D mapping, foliage segmentation, disease detection, and foliage prediction. -->
      <!-- Furthermore, we have a webapp which allows us to continuously monitor the  -->
      <!-- key parameters of the system. Other aspects of our project include the full -->
      <!-- 3d design of the mechanical elevator of our system, -->
      <!-- system electronics, mechanism control theory, and more. -->
      <!-- We are a fully student led team trying to bring this project to fruition. With your help, we can ....... -->
