<div class="container-spacing"></div>
<div class="container">
  <div class="title-container">
    <div class="link" (click)="route('/')">
        <app-logo></app-logo>
        <div class="title">{{title}}</div>
    </div>
  </div>
  <div class="spacing"></div>
  <button (click)="toggleOverlay()" class="overlay-button" [ngClass]="{' overlay': !overlay}" *ngIf="!disablelinks">
    {{overlay ? "≡" : "╳"}}
  </button>
  <div class="link-container" [ngClass]="{' overlay': !overlay}" *ngIf="!disablelinks">
    <div class="link" (click)="route('/about')">About</div>
    <div class="link" (click)="route('/team')">Team</div>
    <div class="link" (click)="route('/sponsor')">Sponsor</div>
    <div class="link" (click)="route('/contact')">Contact</div>
  </div>
</div>
<div *ngIf="!disablelinks">
  <div class="link-container-overlay" [ngClass]="{' overlay': !overlay}">
    <div class="link" (click)="route('/about')">About</div>
    <div class="link" (click)="route('/team')">Team</div>
    <div class="link" (click)="route('/sponsor')">Sponsor</div>
    <div class="link" (click)="route('/contact')">Contact</div>
  </div>
</div>
