<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
<div class="jumbotron">
  <div class="container">
    <div class="header">
      <div class="gradient">
        <div class="content">
          <div class="title">
            Support Us
          </div>
        </div>
      </div>
    </div>  
    <div class="section">
      <div class="subtitle">
        <div class="paragraph">
          We, students, created AltoPonix wanting to bring 
          an idea to life. Our team of over 20 members has
          already spent six months and over a 1000 hours
          working on our project but cannot go further
          without money. Company sponsorships are challenging
          to get without nonprofit validation, which is why
          we are reaching out to benevolent individuals like
          you for financial support. 
        </div>
        <div class="paragraph">
          As high school students, we still have much to
          learn with AltoPonix, whether that be in software,
          electrical, or mechanical engineering - however 
          that cannot happen without the opportunity to build this.
          Money is our primary constraint, and with your help,
          we can bring this design to reality.
        </div>
      </div>
    </div>
    <div class="section break lightgray" id="benefits-section">
      <div class="title">
        Benefits:
      </div>
      <div class="donations-inline">
        <div class="tier" *ngFor="let tier of tiers">
          <div class="amount">
            ${{tier.amount}}
          </div>
          <hr>
          <div class="benefits">
            <div class="benefit" *ngFor="let benefit of tier['benefits']">
              {{benefit}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="section green">
        <div class="title">
          Donate with PayPal
        </div>
        <div class="donateContainer">
          <a href="https://www.paypal.com/donate/?hosted_button_id=FVR6DD3FX8WPS" target="_blank">Donate</a>
        </div>
      </div>
      <div class="section gray">
        <div class="title">
          Or contact us for sponsorships
        </div>
        <div class="subtitle">
          <div class="paragraph">
            More Text Here...
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!--edit these in the ts file-->
  <div class="donations">
    <div class="title">
      Benefits:
    </div>
    <div class="tier" *ngFor="let tier of tiers">
      <div class="amount">
        ${{tier.amount}}
      </div>
      <hr>
      <div class="benefits">
        <div class="benefit" *ngFor="let benefit of tier['benefits']">
          {{benefit}}
        </div>
      </div>
    </div>
  </div>
</div>