<div class="login-container">
  <canvas id="gradient" #gradient></canvas>
  <div class="login-box">
    <a (click)="route('/')">&lt; Return to Home Page</a>
    <b>Login</b>
    <div class="error" *ngIf="errorMsg != ''">
      <icon-failure></icon-failure>
      <div>{{errorMsg}}</div>
    </div>
    <div class="inputs">
      <input #username type="text" placeholder="Username"/>
      <input #password type="password" placeholder="Password"/>
      <div class="check">
        <input #persist type="checkbox" id="log"/>
        <label for="log">Keep me logged in</label>
      </div>
      <button (click)="log()">Log In</button>
    </div>
  </div>
</div>