<div class="login-container">
  <canvas id="gradient" #gradient></canvas>
  <div class="login-box">
    <a (click)="route('/')">&lt; Return to Home Page</a>
    <b>Log In</b>
    <div class="error" *ngIf="errorMsg != ''">
      <icon-failure></icon-failure>
      <div>{{errorMsg}}</div>
    </div>
    <div class="inputs">
      <input #username type="text" placeholder="Username"/>
      <input #password type="password" placeholder="Password"/>
      <div class="check">
        <input #persist type="checkbox" id="log"/>
        <label for="log">Keep me logged in</label>
      </div>
      <button (click)="log()">
        <div *ngIf="!loading">Log In</div>
        <svg *ngIf="loading" class="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:none;display:block;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <circle cx="50" cy="50" r="25" stroke-width="4" stroke="#ffffff" stroke-dasharray="39.269908169872416 39.269908169872416" fill="none" stroke-linecap="round">
          </circle>
        </svg>
      </button>
    </div>
  </div>
</div>