<div id="team-header">
  <img src="https://picsum.photos/id/1002/2000/300" alt="header" id="team-header-image">
  <h1 id="team-header-text">Team</h1><!--Make this green altoponix color-->
</div>

<div class="team-div">
  <!--Lead Section-->
  <h2 class="section-header"><hr style="width: 40%; margin:auto">Lead<hr style="width: 40%; margin:auto"></h2>
  <div class="section-members">
    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Aditiya</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  </div>
  <!--Software Section-->
  <h2 class="section-header"><hr style="width: 40%; margin:auto">Software<hr style="width: 40%; margin:auto"></h2>
  <div class="section-members">
    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Aniket</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/20/100/100" alt="Test2">
      <div class="team-member-text">
        <h1>Arthur</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/30/100/100" alt="Test3">
      <div class="team-member-text">
        <h1>Ashray</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Luca</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Lucas</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Maxwell</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Zach</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Zachary</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>
  </div>
  <!--Production Section-->
  <h2 class="section-header"><hr style="width: 40%; margin:auto">Production<hr style="width: 40%; margin:auto"></h2>
  <div class="section-members">
    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Anjali</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/20/100/100" alt="Test2">
      <div class="team-member-text">
        <h1>Ben</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/30/100/100" alt="Test3">
      <div class="team-member-text">
        <h1>Eric</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Jacqueline</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Kenji</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Navika</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>
  </div>
  <!--Operation Section-->
  <h2 class="section-header"><hr style="width: 40%; margin:auto">Operation<hr style="width: 40%; margin:auto"></h2>
  <div class="section-members">
    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Carissa</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/20/100/100" alt="Test2">
      <div class="team-member-text">
        <h1>Janya</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  
    <div class="team-member">
      <img src="https://picsum.photos/id/30/100/100" alt="Test3">
      <div class="team-member-text">
        <h1>Joy</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>

    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Sidd</h1>
        <p>Robert Jordan, Jr. is vice president and general tax counsel for The Coca-Cola Company, a position he has held since December 2013.</p>
      </div>
    </div>
  </div>
  <!--Research Section-->
  <h2 class="section-header"><hr style="width: 40%; margin:auto">Research<hr style="width: 40%; margin:auto"></h2>
  <div class="section-members">
    <div class="team-member">
      <img src="https://picsum.photos/id/10/100/100" alt="Test1">
      <div class="team-member-text">
        <h1>Josh</h1>
        <p>Even Longer Sample Text</p>
      </div>
    </div>
  </div>
</div>
