
.team-member img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.team-member-text {
  width: 20vw;
  min-width: 200px;
}

.team-member {
  margin: 1vw 4vw 1vw 4vw;
  padding: 2vw;
  border-radius: 1vw;
  display: inline-block;
  text-align: center;
}
hr {
  width: calc(350px + 10vw);
  margin: auto;
}
.team-member:hover {
  background-color: #ccc;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
.team-member:hover >>> .detail{
  display: block;
}
.detail {
  display: none;
}
.section-members {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.team-div {
  margin-top: 75px;
}

.section-header {
  text-align: center;
  padding-top: 30px;
  font-size: 48px;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.gradient-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.gradient{
  background:
          linear-gradient(127deg, rgba(102, 173, 112, 0.8), rgba(74, 148, 72, 0) 12.35%),
          linear-gradient(336deg, rgba(56, 189, 138, 0.8), rgba(134, 179, 52, 0) 25.25%),
          linear-gradient(83deg, rgba(74, 204, 187, 0.8), rgba(57, 214, 117, 0) 50.63%),
          linear-gradient(175deg, rgba(27, 177, 119, 0.8), rgba(21, 177, 117, 0) 75.73%),
          linear-gradient(280deg, rgba(54, 211, 151, 0.8), rgba(34, 212, 174, 0) 90.73%);
  background-size: 400% 400%;
  display: flex;
  color:black;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  overflow: hidden;
  background-color: white;
  flex-direction: row;
  width: 100vw;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}
@keyframes Gradient { 
  0%{background-position:0% 72%}
  50%{background-position:100% 29%}
  100%{background-position:0% 72%}
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.header .content {
  flex: 1 0 auto;
  width: 50%;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header >>> .title {
  font-size: 80px;
  font-weight: 600;
  line-height: 2em;
}

.section {
  background-color: white;
  padding: 3% 5%;
}

.section .content {
  display: flex;
  flex-direction: row;
}

.section >>> .title {
  font-size: 55px;
  font-weight: 600;
  line-height: 2em;
}

.section >>> .subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5em;
}

.link { 
  color: #32a891; 
}

.paragraph {
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 2em;
  line-height: 1.5em;
}


@media (max-width: 2000px) {
  .header >>> .title {
    font-size: 70px;
  }
  .section-header {
    font-size: 48px;
  }
  .team-member img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
}

@media (max-width: 1600px) {
  .header >>> .title {
    font-size: 60px;
  }
  .section-header {
    font-size: 40px;
  }
  .team-member img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  .team-member {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .header >>> .title {
    font-size: 50px;
  }
  .section-header {
    font-size: 32px;
    padding-top: 40px;
  }
}

@media (max-width: 750px) {
  .header >>> .title {
    font-size: 45px;
  }
  .section-header {
    font-size: 24px;
  }
  .team-member img {
    width: 120px;
    height: 120px;
    margin-bottom: 3px;
  }
  .team-member {
    padding: 25px;
  }
}

@media (max-width: 450px) {
  .header >>> .title {
    font-size: 40px;
  }
  .section-header {
    font-size: 20px;
  }
}
