<div class="team-div">
  <h1 id="team-header">Our Team</h1>
  <div class="team-member">
    <img src="https://picsum.photos/id/10/500/500" alt="Test1">
    <div class="team-member-text">
      <h1>Name</h1>
      <p>
        <b>Title <br></b>
        This person does this1 and is this1 and has that1 lmfao.
      </p>
    </div>
  </div>

  <div class="team-member">
    <img src="https://picsum.photos/id/20/500/500" alt="Test2">
    <div class="team-member-text">
      <h1>Name</h1>
      <p>
        <b>Title <br></b>
        This person does this2 and is this2 and has that2 lmfao.
      </p>
    </div>
  </div>

  <div class="team-member">
    <img src="https://picsum.photos/id/30/500/500" alt="Test3">
    <div class="team-member-text">
      <h1>Name</h1>
      <p>
        <b>Title <br></b>
        This person does this3 and is this3 and has that3 lmfao.
      </p>
    </div>
  </div>
</div>
