<div class="con"> 
  <div class="section">
    <div class="content">
      <div class="title">
        Join us!
      </div>
      <div class="subtitle">
        <div class="paragraph">
          Interested in joining us? Fill out the form below.
        </div>
        <div class="paragraph">
          You can also view this form in a new tab <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2GDCRi9tzvrf9-gL8tRiH7Hbm-4-jzqY_-5SrFwlprhgM7w/viewform">here.</a>
        </div>
      </div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd2GDCRi9tzvrf9-gL8tRiH7Hbm-4-jzqY_-5SrFwlprhgM7w/viewform?embedded=true" frameborder="0">Loading…</iframe>
    </div>
  </div>
  <div class="section green">
    <div class="content">
      <div class="title">
        Become a mentor!
      </div>
      <div class="subtitle">
        <div class="paragraph">
          You can also become a mentor for AltoPonix! If you are interested, you can fill out the form below.
          We are looking for mentors for computer vision, web, CAD, and other subsystems of our project.
        </div>
        <div class="paragraph">
          You can also view this form in a new tab <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGW04cGRt_pvln0sKYVCuT5_lwhQ7k20Z0QNrFdGtxUOrJrw/viewform">here.</a>
        </div>
      </div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeGW04cGRt_pvln0sKYVCuT5_lwhQ7k20Z0QNrFdGtxUOrJrw/viewform?embedded=true" frameborder="0">Loading…</iframe>
    </div>
  </div>
</div>